.container {
  margin: 40px auto;
  padding: 20px 10px 20px 10px;
  max-width: 600px;
}

h1,
ul {
  color: gray;
}

ul {
  list-style: none;
  line-height: 1.2;
  margin-left: -30px;
}

#temp {
  color: black;
  font-size: 50px;
}

#tempValue1 {
  color: blue;
  position: relative;
  top: -25px;
  cursor: pointer;
}

#tempValue1:hover {
  text-decoration: underline;
}

small {
  margin: 90px;
  position: relative;
  top: -60px;
}
